In [2]:
import pandas as pd
dataset = pd.read_csv('base.csv')
print(dataset.head())
print(dataset.dtypes)

         date                         title          location   salary  \
0  2020-12-28                Data Scientist  Houston, TX, USA  140,000
1  2020-12-28               Program Analyst               NaN    86000
2  2020-12-28                Data Scientist               NaN   85,000
3  2020-12-28  Senior Software Engineer (ML               NaN     240k
4  2020-12-28       Data Science Consultant        London, UK   65,000

             company_industry                           education  \
0                 Oil and Gas       Masters in Applied Statistics
1  Federal Gov't (non defense                                M.Ed
2                     Defense  Masters of Science in Data Science
3                     Fintech            B.S. Stats tier 2 school
4          Large Tech Company                                 PhD

                                    prior_experience bonus  \
0                       2yrs of actuarial experience   NaN
1  8 years at same agency in administrative posit...  Nope
2  3 years as research assistant (statistics), 2 ...   NaN
3  1 year in finance industry, 1.5 years in small...   60k
4  3 years as data science consultant for another...   NaN

                                              stocks  \
0  15-30% bonus  (no bonus this year of course du...
1                                                NaN
2                                              2,000
3                                                60k
4        incentive (3 year vest)  - 23% annual bonus

                                          total_comp  additional_benefits  \
0  140,000I'm about to accept a new job that will...                False
1                                                NaN                False
2                                             87,000                False
3  360kMy last job I was a data scientist with 14...                False
4              90,000 w/ bonus, stock &amp; benefits                False

   tenure_length_period tenure_length_period_units  survey_year
0                   3.0                      years         2020
1                   1.0                      years         2020
2                   1.0                      years         2020
3                   6.0                     months         2020
4                   2.0                      years         2020
date                           object
title                          object
location                       object
salary                         object
company_industry               object
education                      object
prior_experience               object
bonus                          object
stocks                         object
total_comp                     object
additional_benefits              bool
tenure_length_period          float64
tenure_length_period_units     object
survey_year                     int64
dtype: object